{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}

{% block header_title %}ログイン{% endblock %}

{% block content %}
{% if form.errors %}
<div class="login-error-message">
    <span>ユーザーID, パスワードが一致しません．</span>
</div>
{% endif %}

{# login処理部分 #}
<form method="post" action="{% url 'login' %}" enctype="multipart/form-data" class="login-form">
    {% csrf_token %}
    <div class="login-form__username">
        <label>ユーザーネーム:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="login-form__password">
        <label>パスワード:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit" class="login-form__submit">login</button>
</form>

{% endblock %}

{% block footer %}{% endblock %}